#board {
  margin-top: 10px;
}

html {
  background: url('https://media.giphy.com/media/BEztMcLfpNJL2/giphy.gif')
}

h1 {
  color: black;
  font-size: 60px;
}

.box {
  border: 6px solid grey;
  height: 180px;
  align-content: center;
}
body {
  background: none;
}

#reset{

}

.col-xs-4 {
  background-color: black;
}
.playerOne {
  background-image: url('https://media.giphy.com/media/tWHk9WtvGC4Sc/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;


  ;
}
.playerTwo {
  background-image: url('https://media.giphy.com/media/l2SpUXr2q90X1Pqgw/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;

}
.currLetter {
  font-size: 35px;
}
